#main {
    display: flex;
    min-height: 740px;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 60px;
    margin-bottom: 40px;
}

#aboutUsContainer {
    width: 70%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
}

#imageDiv {
    max-height: 750px;
    width: 50%;
    opacity: 0.90;
    display: flex;
    justify-content: center;
}

#image {
    max-width: 500px;
    max-height: 750px;
    height: 100%;
    width: 80%;
    border-radius: 45%;
}

#contentDiv {
    height: 100%;
    width: 50%;
    border-radius: 10%;
    color: #fff;
    font-size: 18px;
    font-weight: 480;
    text-shadow: 2px 2px 20px rgb(0, 0, 0, .2);
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.25);
}

#title {
    padding-bottom: 20px;
    color: #fff;
    font-size: 22px;
    font-weight: 580;
    letter-spacing: 3px;
    margin-bottom: 8px;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 2px 2px 20px rgb(0, 0, 0, .2)
}

@media only screen and (max-width: 600px) {
    #aboutUsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 40px;
    }

    #imageDiv {
        width: 100%;
    }

    #contentDiv {
        width: 100%;
    }
}

@media only screen and (max-width: 1450px) {
    #aboutUsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    #imageDiv {
        width: 90%;
    }

    #image {
        max-height: 650px;
        max-width: 500px;
    }

    #contentDiv {
        width: 90%;
    }
}