#main {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 60px;
  margin-bottom: 40px;
}

#eventCardsContainer {
  display: flex;
  gap: 30px;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.eventCard {
  position: relative;
  list-style: none;
  width: 250px;
  transition: -1s ease;
  border-radius: 20px;
  opacity: 10.75;
}

.eventCard::before {
  content: "";
  display: block;
  padding: 150%;
  width: 100%;  
}

.cardBackground {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  border-radius: 20px;
  background-size: 520px;
  background-position: center;
  filter: brightness(.9) saturate(1) contrast(1);
  transform-origin: bottom;
  transform: scale(1) translateZ(0);
  transition: .3s ease;
  background-repeat: no-repeat;
  opacity: 0.80;
}

.eventCard:hover .cardBackground {
  transform: scale(1.1) translateZ(1);
  background-size: 650px;
  border-radius: 20px;
}

.eventCardsContainer:hover .eventCard:not(:hover) {
  transform: scale(.9);
}

.eventCardsContainer:hover > .eventCard:not(:hover) .cardBackground,
.eventCardsContainer:hover > .eventCard:not(:hover) .cardTitle {
  filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);
}

.content {
  top: 45%;
  left: 0;
  padding: 25px;
  position: absolute;
}

.cardTitle {
  color: #fff;
  font-size: 22px;
  font-weight: 580;
  letter-spacing: 5px;
  margin-bottom: 8px;
  text-transform: uppercase;
  line-height: 1;
  text-shadow: 2px 2px 20px rgb(0, 0, 0, .2)
}
@media only screen and (max-width: 600px) {

  #eventCardsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
