#main {
  display: flex;
  min-height: 740px;
  justify-content: center;
  height: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  }

  #eventContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #imageDiv {
    max-height: 750px;
    width: 50%;
    opacity: 0.90;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  #image {
    border-radius: 55%;
    max-width: 450px;
    max-height: 750px;
    height: 100%;
    width: 80%;
  }

  #contentDiv {
    height: 100%;
    width: 45%;
    border-radius: 10%;
    color: #fff;
    font-size: 18px;
    font-weight: 480;
    text-shadow: 2px 2px 20px rgb(0, 0, 0, .2);
    padding: 40px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.25);
  }

  #eventTitle {
    padding-bottom: 20px;
    color: #fff;
    font-size: 22px;
    font-weight: 580;
    letter-spacing: 3px;
    margin-bottom: 8px;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 2px 2px 20px rgb(0, 0, 0, .2)
  }

  #registerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: 580;
    letter-spacing: 1px;
  }

  #emailInput {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
  }

  #emailInput:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
  }

  #emailInput::placeholder {
    color: #999
  }

  #submitButton {
    display: inline-block;
    padding: 5px 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  #errorMessage {
    color: red;
    font-style: italic;
  }

@media only screen and (max-width: 1450px) {

  #eventContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
  }
  #imageDiv {
    width: 100%;
    margin-bottom: 10px;
  }

  #image {
    max-height: 650px;
    max-width: 500px;
  }

  #contentDiv {
    width: 90%;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  #label {
    width: 70%;
  }

  #registerDiv {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}